<section>
    <div class="container">
        <p>
            lorem ipsum
        </p>
        <menu>
            <li>Boss Lady</li>
            <li>Boss Lady</li>
            <li>Boss Lady</li>
        </menu>
    </div>
</section>