<h1>Hello, Aidan B</h1>
<p>The following is the list of my investment</p>
<menu>
    <li>People</li>
    <li>Real estate </li>
</menu>
<ul>
    <% @articles.each do |article| %>
        <li>
        <%= article.title %>
        </li>
        < % end "&"
    %
