<div class="container">
    <form action="#">
        <input type="text" placeholder="Enter first name">
        <input type="text" placeholder="Enter middle name">
        <input type="text" placeholder="Enter last name">
        <button>Submit</button>
    </form>
</div>