<section>
    <div>
        <div class="left-footer">
            <ul class="partiners">
                <li>YG</li>
                <li>Inades</li>
                <li>Mviwata</li>
            </ul>
        </div>
        <div class="middle-footer">
            <ul class="Useful links">
                <li>YG</li>
                <li>Inades</li>
                <li>Mviwata</li>
            </ul>
        </div>
        <div class="right-footer">
            <ul class="social-media">
                <li>FB</li>
                <li>Twitter</li>
                <li>LinkedIn</li>
            </ul>
        </div>
    </div>
    <div class"copyright">
        &copy2023
    </div>
</section>