<section class="footer-section">
    <div class="footer-div">
        <div class="left-footer">
            <h5>List of our Partiners </h5>
            <ul class="partiners">
                <li>YG</li>
                <li>Inades</li>
                <li>Mviwata</li>
            </ul>
        </div>
        <div class="middle-footer">
            <h5>Our Usefullinks </h5>
            <ul class="Useful links">
                <li>google</li>
                <li>bin</li>
                <li>kiwila</li>
            </ul>
        </div>
        <div class="right-footer">
            <h5>Follow us in social media </h5>
            <ul class="social-media">
                <li>mwanzo</li>
                <li>second</li>
                <li>third</li>
            </ul>
        </div>
    </div>
    <div class"copyright-div">
        &copy2023
        <p>Designed by Us</p>
    </div>
</section>