<nav>
    <h1>Logo</h1>
    <menu>
        <li class="nav-link">
            <%= link_to "Home", home_path, class: "home" %>
        </li>
        <li class="nav-link">
            <%= link_to "About", about_path, class: "about" %>
        </li>
        <li class="nav-link">
            <%= link_to "Portfolio", portfolio_path, class: "portfolio" %>
        </li>
        <li class="nav-link">
            <%= link_to "Contact", contact_path, class: "contact" %>
        </li>
    </menu>
</nav>
