<section class="home-section">
    <h2>Welcome Home 100+ PROJECTS ACROSS THE GLOBE</h2>
    <div class="div-home">
        <p class="one">Zambia Women In Action</p>
        <p class="p-one">We work towards ensuring a life free from inequality 
        and discrimination for every women
        </p>
        <p class="p-two">Subscribe to our News Letter</p>
        <%= link_to "Donate", donate_path, class: "donate-link" %>
    </div>
</section>