/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Gruppo', cursive;
  /* font-family: 'Kanit', sans-serif; */
}

 .container {
    color: blue;
 }

 menu li{
   list-style: none;
 }

 ul {
  list-style: none;
 }



 /* footer section */

 .footer-section {
  background-color: rgb(112, 11, 65);
  height: 90vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  text-align: center;
  padding: 20px 10px;
 }

 .footer-div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 90%;
  border-bottom: 1px solid rgb(124, 121, 121);
 }

.middle-footer > h5 {
  font-size: 25px;
  padding: 20px 0;
 }

 .left-footer > h5 {
  font-size: 25px;
  padding: 20px 0;
 }

 .right-footer > h5 {
  font-size: 25px;
  padding: 20px 0;
 }

 .left-footer, .middle-footer, .right-footer {
  /* border: 1px solid rgb(124, 121, 121); */
  height: 90%;
  width: 30%;
  padding: 10px;
  text-align: center;
 }

